.connected {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.connecting {
  color: orange;
}
.connected {
  color: greenyellow;
}

.root{
  display: flex;
}