.participant {
  background-color: yellow;

  border: solid orange 1px;
  flex: 1;
}

.video-conference {
  height: 250px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.client {
  display: flex;
  flex: 1;
  width: 300px;
}

.remote-participants {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: brown;
}

.local-participant {
  display: flex;
  flex: 2;
}
.client-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: orangered;
}
