.participant {
  flex: 1;
  position: relative;
}
.target {
  position: absolute;
}
.video-conference {
  height: 250px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.client {
  display: flex;
  flex: 1;
  width: 300px;
}

.remote-participants {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.local-participant {
  display: flex;
  flex: 2;
  position: relative;

}
.client-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e8eaf6;
  position: relative;
  margin-right: 10px;
}
.name {
  position: absolute;
  right: 6px;
  top: 2px;

}
.btn-container {
  display: flex;
  justify-content: center;
}
